# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
*.terraform.lock.hcl

# Sensitive files
key.json
*.key
*.pem
*.priv
*.pub
**/.terraformrc
.terraformrc
.terraform.d/