# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.backup
**/plugins/
**/.terraform/providers/

# Variable files
*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json

# Inventory files
inventory.ini
inventory.yaml
for.ini
hosts.ini
hosts.yaml

# Local files
*.log
*.key
*.pem
*.token
token.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
