# Terraform directories
**/.terraform/
.terraform/
**/.terraform.lock.hcl
.terraform.lock.hcl

# Provider plugins
**/plugins/
plugins/

# State files
**/*.tfstate
**/*.tfstate.*
*.tfstate
*.tfstate.*

# Variable files
**/*.tfvars
**/*.tfvars.json
*.tfvars
*.tfvars.json

# Inventory files
**/inventory.ini
**/inventory.yaml
**/for.ini
inventory.ini
for.ini

# Local files
*.log
*.key
*.pem
*.token
